<h1 style="font-family: 'Star Jedi', 'Montserrat';">Bienvenue <%= current_user.first_name %> !</h1>
<h5>Gérez ici toutes vos offres et réservations</h5>

<div class="dashboard-container container">
  <div class="my-bookings">
    <h2>Réservations en cours</h2>
      <% @bookings_current_user.sort_by{ |b| b.created_at }.reverse!.each do |b| %>
        <ul>
          <% if (b.start_date && b.end_date).present? %>
            <% if Date.today <= b.start_date %>
              <% if b.offer.photo.attached? %>
              <li><%= link_to (cl_image_tag b.offer.photo.key, height: 200, width: 300), offer_path(b.offer) %></li>
            <% else %>
              <li><%= link_to (image_tag "#{b.offer.photo_url}"), offer_path(b.offer) %></li>
            <% end %>
              <div class="list-container">
                <li><span id="offer-title"><%= link_to b.offer.title, offer_path(b.offer) %></span></li>
                <li>Détails : <%= b.offer.description %></li>
                <li>Réservation du : <%= b.start_date %> au <%= b.end_date %></li>
                <li>Status : <%= b.status %></li>
                <% if b.status == "pending" %>
                  <span class="cancel-btn"><%= link_to 'Annuler ma réservation', booking_path(b), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel your booking?" } %></span>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
  </div>

  <div class="my-bookings">
    <h2>Mes publications à valider</h2>
      <% @bookinks_waiting_for_validation_sorted.each do |b| %>
        <ul>
          <% if b.status == "pending" %>
            <% if b.offer.photo.attached? %>
              <li><%= link_to (cl_image_tag b.offer.photo.key, height: 200, width: 300), offer_path(b.offer) %></li>
            <% else %>
              <li><%= link_to (image_tag "#{b.offer.photo_url}"), offer_path(b.offer) %></li>
            <% end %>
            <div class="list-container">
              <li><span id="offer-title"><%= link_to b.offer.title, offer_path(b.offer) %></span></li>
              <li><%= b.offer.price %></li>
              <li>Dates demandées : du <%= b.start_date %> au <%= b.end_date %></li>

              <div class="btn-validation">
                <span class="validate-btn"><%= link_to "valider", booking_path(b), data: { turbo_method: :patch } %></span>
                <span class="cancel-btn"><%= link_to "refuser", booking_path(b), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></span>
              </div>
            </div>
          <% end %>
        </ul>
      <% end %>
  </div>

  <div class="my-bookings">
    <h2>Publications reservées</h2>
      <% @bookinks_waiting_for_validation_sorted.each do |b| %>
        <ul>
          <% if b.status == "validated" %>
            <% if b.offer.photo.attached? %>
              <li><%= link_to (cl_image_tag b.offer.photo.key, height: 200, width: 300), offer_path(b.offer) %></li>
            <% else %>
              <li><%= link_to (image_tag "#{b.offer.photo_url}"), offer_path(b.offer) %></li>
            <% end %>
            <div class="list-container">
              <li><span id="offer-title"><%= link_to b.offer.title, offer_path(b.offer) %></span></li>
              <li><%= b.offer.price %></li>
              <li>Dates demandés : du <%= b.start_date %> au <%= b.end_date %></li>
            </div>
          <% end %>
        </ul>
      <% end %>
  </div>

  <div class="my-bookings">
    <h2>Mes offres publiées</h2>
      <% @offers_current_user.each do |o| %>
          <ul>
            <% if o.photo.attached? %>
                <li><%= link_to (cl_image_tag o.photo.key, height: 200, width: 300), offer_path(o) %></li>
              <% else %>
                <li><%= link_to (image_tag "#{o.photo_url}"), offer_path(o) %></li>
              <% end %>
            <div class="list-container">
              <li><span id="offer-title"><%= link_to o.title, offer_path(o) %></span></li>
              <li><%= o.description %></li>
              <li><%= o.price %></li>
            </div>
          </ul>
      <% end %>
  </div>

  <div class="my-bookings">

    <h2>Anciennes réservations</h2>
      <% @bookings_current_user.each do |b| %>
        <ul>
          <% if (b.start_date && b.end_date).present? %>
            <% if Date.today > b.end_date %>
              <li><%= link_to (image_tag "#{b.offer.photo_url}"), offer_path(b.offer) %></li>
              <%# <img src="https://www.starwars-universe.com/images/encyclopedie/vaisseaux_vehicules/avatars_v6/ST70.png" alt="starship" /> %>
              <div class="list-container">
                <li><span id="offer-title"><%= link_to b.offer.title, offer_path(b.offer) %></span></li>
                <li>Du: <%= b.start_date %></li>
                <li>Au: <%= b.end_date %></li>
              </div>
            <% end %>

          <% end %>
        </ul>
      <% end %>
  </div>
</div>
