<h1>show the current offer here</h1>

<%# util Arnaud %>

<div>
  <p><%= @offer.title %></p>
  <p><%= @offer.description %></p>
</div>

<div class="reviews">
  <% @bookings.each do |b| %>
    <% b.reviews.each do |r| %>
      <p><%= r.booking.user.first_name %>:</p>
      <p><%= r.content %></p>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to 'Tell us how was your trip', new_offer_review_path(@offer) %>
</div>
<%= render 'shared/home_btn' %>

<% console  %>
