<div class="container">
  <div class="info_date">
    <div class="infos">
      <h1><%= @offer.title %></h1>
        <div class="pictures">
          <% if @offer.photo.attached? %>
            <%= cl_image_tag @offer.photo.key, class:"photo"%>
            <% else %>
            <%= image_tag "#{@offer.photo_url}", class:"photo" %>
          <% end %>
          <%=image_tag("vaisseau_image2.png", height: 300, width: 400 )%>
        </div>
      <div class="infos-description">
        <p class="number_person"> 4 <%=image_tag("mandalorian.svg", height: 30, width: 30 )%> | 3 <%=image_tag("droid.svg", height: 30, width: 30 )%></p>
        <p class="prix">Prix: <%= @offer.price %> <%=image_tag("alliance.svg", height: 30, width: 30 )%> / jour</p>
        <p>Description: <%= @offer.description %></p>
      </div>
    </div>


    <div class="date">
      <%= render "offers/form_booking" %>
    </div>
  </div>

  <%# <div class="reviews"> %>
    <%# <% @offer.reviews.each do |r| %>
      <%# <p><%= r.booking.user.first_name %>
      <%# <p><%= r.content %>
      <%# <% if current_user == r.booking.user %>
        <%# <p><%= link_to 'Delete comment', offer_review_path(r), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <%# <% end %>
    <%# <% end %>
  <%# </div> %>

  <div class="reviews">

    <h1>Avis:</h1>
      <div class="review">
        <% @offer.bookings.each do |b| %>
          <% if b.user_id == current_user.id%>
            <%= link_to 'Donne nous ton avis', new_offer_review_path(@offer), class: "btn btn-light m-3"%>
          <% end %>
        <% end %>
      </div>


  <div class="avis">
    <% @offer.reviews.sort_by{ |r| r.created_at }.reverse!.each do |r| %>
      <div class="avis-content">
          <img src='https://emi9d8rzue7.exactdn.com/wp-content/uploads/2021/12/The-Book-of-Boba-Fett-Avatar-1.png?strip=all&lossy=1&resize=600%2C600&ssl=1' class="avatar-large" />
            <div class="avis-text">
              <i class="fa-solid fa-quote-left"></i>
              <p class="user_name"><%= r.booking.user.first_name %>:</p>
              <p class="user_content"><%= r.content %></p>
              <i class="fa-solid fa-quote-right"></i>
            </div>
          <% if current_user == r.booking.user%>
            <div class="avis-supp">
              <p><%= link_to offer_review_path(r), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash d-flex"></i>
              <% end %></p>
            </div>
          <% end %>
        </div>
        <% end %>
    </div>

  </div>
</div>
